body{
	background: #51513c;
}
h1{
	color: #0055ff;
}
h2{
	color: #002674;
}
span{
	color: #ffff00;
}
p img{
	width:200px;
	height: 200px;
}
a{
	color: #ff0000;
	text-decoration: none;
}
img{
	width: 50px;
	height: 20px;
}
li{
	color: #ffffff;
}
p{
	color: #ffffff;
}
 
a:hover{
	text-decoration: underline;
}
